:host {
    display: block;
    text-align: center;
}

.timeLeft {
    font-size: 2rem;
}

div~div {
    margin-left: 4px
}


/** Um botão, depois de outro botão*/

button~button {
    margin-left: 2px;
}

.phase0 {
    color: blueviolet;
}

.phase1 {
    color: green;
}

.phase2 {
    color: rgb(94, 94, 8);
}