<div>
    <div>Exercício: <input type="text"></div>
    <div>Duração: <input type="number"></div>
    <div>Repetições: <input type="number"></div>
    <div>Preparação: <input type="number"></div>
    <div>Descanso: <input type="number"></div>
    <button>Adicionar</button>
</div>

<table>
    <tr>
        <th>Exercício</th>
        <th>Duração</th>
        <th>Repetições</th>
        <th>Preparação</th>
        <th>Descanso</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>